@import '@/style/index';

.login-wrapper {
  width: 100%;
  height: 100%;
  background-image: url('https://tdesign.gtimg.com/pro-template/login-bg-img.jpg');
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.login-container {
  position: absolute;
  top: 28%;
  left: 12%;
  min-height: 500px;
  line-height: 22px;
}

.title-container {
  .icon {
    width: 290px;
    height: 40px;
  }

  .side-title {
    margin-top: 24.9px;

    .tip1,
    .tip2 {
      display: inline-block;
      margin-right: 8px;
    }

    .tip1 {
      font-size: 14px;
      color: rgb(0 0 0 / 60%);
    }

    .tip2 {
      font-size: 14px;
      color: @brand-color-8;
      cursor: pointer;
    }
  }
}

.item-container {
  width: 400px;
  margin-top: 64px;

  &.login-qrcode {
    margin-top: 34px;

    .tip-container {
      width: 192px;

      .refresh {
        display: flex;
        align-items: center;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .bottom-container {
      margin-top: 32px;
    }
  }

  &.login-phone {
    .bottom-container {
      margin-top: 66px;
    }
  }

  &.register-phone {
    margin-top: 64px;

    .t-select-popup-reference {
      margin: 0;
    }
  }

  .check-container {
    display: flex;
    align-items: center;

    &.remember-pwd {
      margin-bottom: 16px;
      justify-content: space-between;
    }

    .t-checkbox__label {
      color: @text-color-secondary;
    }

    span {
      color: @brand-color-8;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .tip-container {
    margin-bottom: 16px;

    .tip1 {
      font-size: 14px;
      color: rgb(0 0 0 / 60%);
    }

    .tip2 {
      float: right;
      font-size: 14px;
      color: @brand-color-8;

      .t-icon {
        height: 20px;
        vertical-align: text-bottom;
      }
    }
  }

  .verification-code {
    display: flex;
    align-items: center;

    .t-form__controls {
      width: 100%;

      button {
        flex-shrink: 0;
        width: 102px;
        height: 40px;
        margin-left: 11px;
      }
    }
  }
}

.switch-container {
  margin-top: 66px;

  .tip {
    font-size: 14px;
    color: @brand-color-8;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-right: 14px;

    &:last-child {
      &::after {
        display: none;
      }
    }

    &::after {
      content: '';
      display: block;
      width: 1px;
      height: 12px;
      background: @gray-color-3;
      margin-left: 14px;
    }
  }
}

.check-container {
  font-size: 14px;
  color: rgb(0 0 0 / 60%);

  .tip {
    float: right;
    font-size: 14px;
    color: @brand-color-8;
  }
}
