node_modules
.vscode
.DS_Store
.vscode

# build files
es/
lib/
dist/
typings/

_site
package
tmp*
temp*
coverage
test-report.html
.idea/
yarn.lock
yarn-error.log
package-lock.json
*.zip
.history
.stylelintcache
