:root[theme-color='pink'],
:root[theme-color='pink'][theme-mode='dark'] {
  --td-brand-color: #ed49b4;
  --td-brand-color-1: #ffe9ff;
  --td-brand-color-2: #ffd1fc;
  --td-brand-color-3: #ffb2f2;
  --td-brand-color-4: #ff8fe1;
  --td-brand-color-5: #f6c;
  --td-brand-color-6: #ed49b4;
  --td-brand-color-7: #d42c9d;
  --td-brand-color-8: #bc0088;
  --td-brand-color-9: #9b006b;
  --td-brand-color-10: #7b0052;
}
