:root[theme-color='yellow'],
:root[theme-color='yellow'][theme-mode='dark'] {
  --td-brand-color: #ebb105;
  --td-brand-color-1: #fff8b8;
  --td-brand-color-2: #ffe478;
  --td-brand-color-3: #fbca25;
  --td-brand-color-4: #ebb105;
  --td-brand-color-5: #d29c00;
  --td-brand-color-6: #ba8700;
  --td-brand-color-7: #a37200;
  --td-brand-color-8: #8c5f00;
  --td-brand-color-9: #754c00;
  --td-brand-color-10: #5e3a00;
}
