@import '@/style/index';

.t-tabs__content {
  padding-top: @spacer-3;
}

.t-steps .t-steps-item-title {
  font-size: @font-size-base;
}

.@{prefix} {

  &-operater-row {
    margin-bottom: 12px;
  }
}

.detail-base-panel {
  background-color: white;
  padding: @spacer-3 @spacer-4 @spacer-4 @spacer-4;
  border-radius: @border-radius;
  margin-top: 0;
  
  &-row {
    margin-bottom: 12px;
  }

}

.detail-base-info {
  margin-bottom: 12px;
}

.detail-base-info-title {
  margin: @spacer-1 0;
  font-size: @font-size-xl;
  font-weight: 500;
  line-height: 28px;
  color: @text-color-primary;
  font-family: PingFangSC-Regular;
}

.detail-base-info-steps {
  padding-top: 12px;
}

.info-block {
  column-count: 2;

  .info-item {
    padding: 12px 0;
    display: flex;

    @media (max-width: @screen-sm-max) {

      h1 {
        width: 80px;
      }
    }

    @media (min-width: @screen-md-min) {

      h1 {
        width: 200px;
      }
    }

    h1 {
      font-weight: normal;
      font-family: PingFangSC-Regular;
      font-size: @font-size-base;
      color: @text-color-secondary;
      text-align: left;
      line-height: 22px;
    }

    span {
      margin-left: 24px;
    }

    i {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: @border-radius-50;
      background: @success-color-5;
    }

    .inProgress {
      color: @success-color-5;
    }

    .pdf {
      color: @brand-color-8;
    }
  }
}
