@import '@/style/index';

.t-tabs__content {
  padding-top: @spacer-3;
}

.list-card-item + .list-card-item {
  margin-top: 16px;
}

.dashboard-panel-detail {
  margin-top: -16px;
}

.card-date-picker {
  width: 240px;
}

.card-date-button {
  margin-left: 8px;
}

.dashboard-detail-container-item {
  height: 168px;
  border: solid 1px #ebebeb;
  padding: 24px 32px;
  box-sizing: border-box;
  border-radius: @border-radius;

  &:hover {
    background: @gray-color-1;
    cursor: pointer;
  }

  h1 {
    font-size: 36px;
    color: rgba(0,0,0,.90);
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 24px;

    span {
      font-size: 14px;
      color: rgba(0,0,0,.30);
      padding-left: 8px;
    }
  }

  .dashboard-detail-container-item-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: rgba(0,0,0,.40);
    text-align: left;
    line-height: 22px;
    
    > span {
      display: flex;
    }
  }
}
  


.dashboard-detail-bottom-container {
  padding: 20px 24px;
  background-color: white;
  border-radius: @border-radius;
  margin-top: 16px;
  min-height: 400px;

}

.trend-container {
  margin-left: 4px;
}