@import '@/style/index';
.t-tabs__content {
  padding-top: @spacer-3;
}

.@{prefix} {
  &-panel {
    background-color: white;

    &.@{prefix}-step-panel {
      padding: 0;
    }
  }
  &-step {
    padding: 14px 0 24px 0;
  }
  &-form {
    padding-right: 50px;
    padding-top: 30px;
    border-top: solid 1px #eeeeee;
  }
}

.rule-tips {
  padding: 24px 24px 0 24px;
}

.step-top {
  padding: 24px;
  border-bottom: #eeeeee solid 1px;
}

.step-form {
  padding: 24px;

  .t-form__label {
    min-width: 108px;
  }
}

.step-form-4 {
  height: 365px;
  margin-top: 72px;
  text-align: center;

  .t-icon {
    margin: 6px;
  }
  .text {
    margin: 16px 0 8px 0;
    font-weight: bold;
    font-size: 20px;
    color: @text-level-1-color;
    line-height: 30px;
  }
  .tips {
    margin-bottom: 24px;
    font-size: 14px;
    color: @text-level-2-color;
    line-height: 22px;
  }
}
